/* 
    creating by Sebastian Nowak 
*/ 

@font-face {
    font-family: 'Ubuntu', sans-serif;
    src: url(https://hackedfont.com/HACKED.ttf);
}
@font-face{
    font-family: 'Roboto', sans-serif;
    src: url(https://fonts.googleapis.com/css?family=Roboto);
}
*{
    box-sizing: border-box;
    text-decoration: none;
}
html{
    margin:0;
    padding: 0;
    background-image: linear-gradient( 135deg, #FEB692 10%, #EA5455 100%);
}
body{
    margin: 55px;
    background-color: #ffffff;
    border-radius: 35px;
    box-shadow: 1px 1px 10px #333;
    padding: 70px;  
}
button,input{
    padding: 10px 25px;
    background-color: #3E4256;
    border-radius: 20px;
    border: solid 3px #333;
    margin: 10px;
    text-transform: uppercase;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 10px;
}
p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3em;
    color: #333333;
}
