@font-face {
  font-family: Hacked;
  src: url(https://hackedfont.com/HACKED.ttf);
}

* {
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  background-color: #eee;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* -------------->> navbar <<--------------------- */

.logo {
  position: fixed;
  float: left;
  margin: 0px 30px;
  color: #dbdbdb;
  font-weight: bold;
  font-size: 20px;
  cursor: default;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 999;
}

nav ul {
  line-height: 60px;
  list-style: none;
  overflow: hidden;
  padding: 0;
  text-align: right;
  margin: 0;
  transition: 0.75s;
  background: rgb(0, 0, 0, 0);
}

.black {
  transition: 0.5s;
  animation: ease-in-out;
}

nav.black ul {
  background-color: rgb(238, 238, 238, 1);
}

nav.black ul li a {
  color: #333;
}

nav.black .logo {
  color: #333;
}

nav.black li {
  transition: 1s;
}

nav ul li {
  display: inline-block;
  padding: 0px 15px;
  transition: 1s;
}

nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #dbdbdb;
  padding: 10px;
  transition: 0.6s;
  min-width: 250px;
  font-weight: bold;
}

nav ul li a:hover {
  background-color: Tomato;
  color: #fff;
  transition: 0.5s;
  animation: ease-out;
}

.menu-icon {
  width: 100%;
  text-align: right;
  box-sizing: border-box;
  cursor: pointer;
  color: #fff;
  display: none;
}

/* -------------->> 1 sekcja <<----------------------*/

.bg-1 {
  background-image: url(working-at-night.jpg);
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-attachment: fixed;
  cursor: default;
  width: 100%;
}

.bg-1 h1 {
  text-transform: uppercase;
  margin: 0;
}

.bg-1 p {
  margin: 0;
}

/* -------------->> 2 sekcja <<----------------------*/

.bg-2 {
  cursor: default;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  margin: 100px 0 50px 0;
}

.flex-item {
  padding-top: 10px;
  padding-bottom: 50px;
  text-align: left;
  max-width: 700px;
  margin: auto;
}

.flex-item h3 {
  color: grey;
  font-size: 1.5em;
}

.flex-item p {
  font-family: "Montserrat", sans-serif;
  color: #333;
  line-height: 25px;
}

/* -------------->> ikony <<----------------------*/

.box {
  padding: 0 100px;
  margin: 100px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.icon {
  margin: 30px;
  display: inline-block;
  justify-content: center;
}

i {
  transition: 0.5s;
}

.box a i:hover {
  transform: scale(1.5, 1.5);
  transition: 0.5s;
}

.html {
  color: Tomato;
}

.css {
  color: dodgerblue;
}

.js {
  color: #edcf35;
}

.github {
  color: #333;
}

.git {
  color: #60bf30;
}

.behance {
  color: #0057ff;
}

.codepen {
  color: #000;
}

/* -------------->> mapa <<----------------------*/

#googleMap {
  width: 100%;
  height: 400px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  margin: 0;
}

.moje_logo {
  border-radius: 100%;
  width: 600px;
  height: 450px;
  border: 5px solid #fff;
  box-shadow: 1px 1px 10px #000000;
  animation: logo 3.5s;
  background-color: #a1b8e1;
  background-image: url(backpack.jpg);
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.moje_logo p {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  color: #fff;
  padding: 15px;
}

.moje_logo:hover p {
  display: block;
}

/* -------------->> footer <<----------------------*/

footer {
  background-color: #333;
  color: #fff;
  display: grid;
  place-items: center;
  padding: 25px 50px;
}

/* -------------->> responsywność <<----------------------*/

@media only screen and (max-width: 800px) {
  nav.black .logo {
    color: #333;
  }
  .bg-1 {
    background-position: 50% 50%;
    height: 50vh;
  }

  .box {
    padding-left: 0px;
    padding-right: 0px;
  }

  .flex-item {
    padding-left: 10px;
    padding-right: 10px;
  }

  .moje_logo {
    display: none;
  }

  .logo {
    position: fixed;
    top: 0;
    color: #333;
  }

  nav {
    max-width: 100vw;
    background-color: rgb(238, 238, 238, 0.7);
  }

  nav ul {
    max-height: 0px;
    background: #fff;
    color: #fff;
    background-color: rgb(238, 238, 238, 1);
    max-width: 100vw;
    height: 100vh;
  }

  nav.black ul {
    color: #fff;
  }

  .showing {
    max-height: 50em;
    max-width: 100%;
    padding-right: 0;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    place-content: center;
    text-align: center;
    color: #fff;
  }

  nav ul li a {
    color: #333;
    padding: 0;
    min-width: 200px;
  }

  .menu-icon {
    display: inline-block;
  }

  .menu-icon i {
    color: #333;
  }

  i {
    transform: scale(0.75, 0.75);
    margin: 12px;
  }

  .icon {
    margin: 5px;
  }
}

/* -------------->> animacje <<----------------------*/

.bg-1 p {
  animation: mymove 2s;
}

.bg-1 h1 {
  animation: mymove 2s;
}

@keyframes mymove {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes logo {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}